<article>

  <section>

  	<h1> This section is about FooBar</h1>
  	<p>
  	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
  	</p>
  	<p>
  	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  	</p>

  </section>

  <section>

  	<h1> This section is about Pooh Bear </h1>
 	<p>
  		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  	</p>

  </section>
</article>