/*
*   Partial: site-branding.scss
*/

$heading-font: "Myriad Pro","Lucida Sans Unicode", "Lucida Grande", sans-serif;
$accent-font: 'Lucida Sans', 'Myriad Pro';
$body-font: 'Lucida Sans', 'Myriad Pro';
$paragraph-font: 'Berlingske Serif';


$white: #FFFFFF;
$black: #000000;
$dim-gray: #696969
$light-cream: #fafafa;
$near-black: #333;
